# Python ile Veri Analizi Çalışması

### Pandas kütüphanesini ekleme

In [27]:
import pandas as pd

### Veri setimizin tanımlanması

In [28]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

### Verileri içeri aktarma

In [29]:
df = pd.DataFrame(data)

 ### Yeni veri satırı oluşturup, satıra veri ekleme

In [30]:
df.loc[len(df.index)]=['',30,]

### print(df)

In [31]:
df

  calories  duration
0      420        50
1      380        40
2      390        45
3                 30

### İlk iki satırdaki verinin sıralanması

In [24]:
df.head(2)

  calories  duration
0      420        50
1      380        40

### Son iki satırdaki veriler

In [25]:
df.tail(2)

  calories  duration
2      390        45
3                 30

### Verilerin büyüklük sıralanması 'duration'

In [26]:
df.sort_values(by='duration', ascending=False)

  calories  duration
0      420        50
2      390        45
1      380        40
3                 30